aniso8601==3.0.2
atomicwrites==1.2.1
attrs==18.2.0
blinker==1.4
Click==7.0
Flask==1.0.2
Flask-Mail==0.9.1
Flask-RESTful==0.3.6
Flask-Script==2.0.6
Flask-SQLAlchemy==2.3.2
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
marshmallow==2.15.0
more-itertools==4.3.0
pathlib2==2.3.2
pluggy==0.7.1
py==1.10.0
pytest==3.8.1
pytz==2018.5
six==1.11.0
SQLAlchemy==1.2.12
werkzeug>=0.15.3
